* {
	margin: 0;
	padding: 0;
}

:root {
	/* warnging colour
		add as fall back variable
		should be easy for us to notice to fix it
	*/
	--col-WARNING-0: magenta;
	--col-WARNING-1: darkred;
	--col-WARNING: repeating-linear-gradient(45deg, var(--col-WARNING-0), var(--col-WARNING-0) 10px, var(--col-WARNING-1) 10px, var(--col-WARNING-1) 20px);
}

/* Style the header to use Flexbox */
header {
	display: flex;
	justify-content: space-evenly; /* Distribute logo and nav links evenly */
	align-items: center;
	padding: 10px;
	width: 100%; /* Full width of the header */
	background-color: #D9C27E; /* Optional background */
    position: fixed; /* So the logo can be positioned */
	top: 0;
  }
  
  /* Styling the logo */
  .logo  {
	position: absolute;
    left: 20px; /* Position the logo to the left */
	margin-top: 0.2em;
	width: 20px;
  }
  .logo img {
    width: 2.3em; /* Adjust logo size */
	height: auto;
}
  
  /* Styling the navigation menu */
  nav {
	width: 70%; /* Adjust width of the nav section */
  }
  
  nav ul {
	display: flex;
	justify-content: space-between; /* Evenly space the links */
	list-style: none; /* Remove default bullet points */
	padding: 0;
	margin: 0;
  }
  
  /* Styling individual navigation links */
  .nav-links li {
	margin: 0 10px; /* Optional: Adjust spacing between each link */
  }
  
  .nav-links a {
	text-decoration: none;
	font-size: 18px; /* Adjust font size */
	color: #141D2B; /* Adjust text color */
  }
  
  /* Optional: Add hover effect on links */
  .nav-links a:hover {
	color: #306E8A; /* Change color on hover */
	font-size: 1.2em;
	text-shadow: 0.5px 0.5px  rgba(31, 30, 30, 0.5);
  }

  main{
	margin-top: 41px;
  }

/* Justin's stuff, feel free to move & edit */
#products {
	/* grid settings */
	display: grid;
	gap: 2em;
	padding: 2em 2em;
	/*
	working, I think you can't use percentage for minmax?
	oh well, 1fr works better anyway
	*/
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	
	/* temporary position settings */
	/* might remove? */
	margin: 0 5px;
}

/* applying background to show element size */
/* elemSize */
#products {
	/* Justin's temporary variables */
	--col-00: #0E1B24;
	background: var(--col-00, var(--col-WARNING));
}

#products > * {
	background: hsl(from var(--col-00, magenta) h calc(s - 10) calc(l + 25));
}

/* removing input from list */
#products > * > h3,
#products > * > img,
#products > * > p {
	background: hsl(from var(--col-00, magenta) h calc(s - 20) calc(l + 50));
}
/* !!elemSize!! */

.product {
	margin: 0 auto;
	/* temp outline to show section */
	border: 2px solid black;
	/* apply gap to padding too */
	padding: 1em;
	/* grid layout settings */
	display: grid;
	gap: 1em;
	/* might change the first fr be smaller? */
	grid-template-columns: 8em auto;
	grid-template-rows: 2em 8em 3em;
}

.product h3 {
	/* grid setting */
	grid-column: 1;
	/* centering */
	margin: auto;
}

.product img {
	/* grid setting */
	grid-row: 2;
	grid-column: 1;
	/* centering */
	margin: auto;
	/* modifying image */
	max-height: 100%;
	max-width: 100%;
}

.product p.price {
	/* grid setting */
	grid-row: 3;
	grid-column: 1;
	/* center upper */
	margin: 0 auto auto;
}

.product p.description {
	/* grid setting */
	grid-row: 1 / 3;
	grid-column: 2;
}

.product input {
	/* grid setting */
	grid-row: 3;
	grid-column: 2;
	/* centering */
	margin: auto;
	/* clear style */
	border: 0;
	/* size setting */
	width: 10em;
	height: 3em;
	/* minor styling: feel free to change */
	background: hsl(from var(--col-00, magenta) h calc(s - 20) calc(l + 50));
	border-radius: 3px;
}

.product input:hover {
	border: 3px solid hsl(from var(--col-00, magenta) h calc(s - 20) calc(l + 60));
	background: hsl(from var(--col-00, magenta) h calc(s - 20) calc(l + 50));
}

.product input:active {
	border: 0;
	background: var(--col-00, var(--col-WARNING));
}

/*corey changes */

footer {
	width: 100%;
	padding: 10px 20px;
	background-color: grey;
}

footer div {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

footer img {
	width: 100px;
}

/* Corey Recent Changes */

.cart-items {
	background-color: rgb(197, 213, 233);
	display: grid;
	/* temporary position settings */
	margin: 40px auto;
	width: 600px;
}

.cart-item {
	/* temp outline to show section */
	background-color: rgb(217, 197, 233);
	border: 2px solid black;
	padding: 10px;
	/* grid layout settings */
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr; /* rows are as tall as need to be */
}


.cart-total {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.cart-total span {
	grid-column: 3;
}

@media only screen and (max-width: 500px) {
	#products {
		margin: 0 5px;
		padding: 2em 2em;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	.product {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 2em 6em 3em;
	}

	.product h3 {
		/* grid setting */
		grid-column: 1 / span 2;
		grid-row: 2;
	}
	.product img {
		/* grid setting */
		grid-row: 1;
		grid-column: 1 / span 2;
		/* change max height
		now that we know it'll be 500 width max
		*/
		max-height: 500px;
	}

	.product p.description {
		/* grid setting */
		grid-row: 3;
		grid-column: 1 / span 2;

		overflow-y: auto;
	}

	.product p.price {
		/* grid setting */
		grid-row: 4;
		grid-column: 1;
		/* center upper */
		margin: auto auto auto 0;
	}

	.product input {
		/* grid setting */
		grid-row: 4;
		grid-column: 2;
		/* centering */
	}
}