/* Mobile Size */
@media only screen and (max-width: 600px) {
	/* Main Section */
	#products {
		margin: 0 5px;
		padding: 2em 2em;
		grid-template-columns: 1fr;
	}

	.product {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 2em 6em 3em;
	}

	.product h3 {
		/* grid setting */
		grid-column: 1 / span 2;
		grid-row: 2;
	}
	.product img {
		/* change max height
		now that we know it'll be 500 width max
		*/
		max-height: 12.5rem;

		/* grid setting */
		grid-row: 1;
		grid-column: 1 / span 2;
	}

	.product p.description {
		overflow-y: auto;

		/* grid setting */
		grid-row: 3;
		grid-column: 1 / span 2;
	}

	.product p.price {
		margin: auto auto auto 0;

		/* grid setting */
		grid-row: 4;
		grid-column: 1;
	}

	.product input {
		/* grid setting */
		grid-row: 4;
		grid-column: 2;
	}
	/* !!Main Section!! */

	.cart-item {
		/* changed text area to take min amt needed
		relying on gap setting*/
		grid-template-columns: auto 1fr 1fr;
	}

	.add-item {
		/* adding space when remove button moves below */
		margin-bottom: 0.5em;
	}
}